<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title></title>
    </head>
    <body>
        fill the form
        
        <form action="{%url 'result' %}">
        
        {% csrf_token %}
        
        Avg. Area Income:<input type='text' required name="AAI"><br> <br>
        Avg. Area House Age:<input type='text' required name="AAI"><br> <br>
        Avg. Area Number of Rooms:<input type='text' required name="AAI"><br> <br>
        Avg. Area Number of Bedrooms:<input type='text' required name="AAI"><br> <br>
        Area Population:<input type='text' required name="AAI"><br> <br>
        
        
        <input type="submit" name="" value="submit">
        
        
        
        </form>
        
        
        
    </body>
</html>